h1 {
    margin: 0px;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}


 /* Container */
.container {
    width: 100%;
    max-width: 1020px;
}


/* Intro */
.intro {
    max-width: 1020px;
    width: 100%;
    height: 89px;
    background: url("../singolo/assets/images/header_01.jpg") no-repeat;
}

.intro-bottom {
    max-width: 1020px;
    width: 100%;
    height: 6px;
    background: url("../singolo/assets/images/header-bottom_02.jpg") no-repeat;
}


/* Header */
.header {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    padding: 45px;
}

.header__logo {
    font-size: 25px;
    font-weight: 700;
    color: #ffffff;
    margin: 0px;
}

.header__star {
    color: #f06c64;
}

.nav {
    font-size: 12px;
    text-transform: uppercase;
}

.nav__link {
    vertical-align: top;
    display: inline-block;
    color: #ffffff;
    margin: 0 15px 0;
    text-decoration: none;
    transition: color 0.2s linear;

}

.nav__link:hover {
    color: #f06c64;
}


/* Body */
.main {
    max-width: 1020px;
    height: 594px;
    left: 10px;
    background: url("../singolo/assets/images/bg-pink-body_03.jpg");
}

body {
    line-height: 1.6px;
    margin: 0px;
    font-family: 'Lato', sans-serif;
    font-size: 12;
    color: #767e9e;
}

.bg__services {
    max-width: 1020px;
    height: 494px;
    left: 10px;
    background: url("../singolo/assets/bg-pink-body_05.jpg");
}

.bg__services-bottom {
    max-width: 1020px;
    height: 6px;
    left: 10px;
    background: url("../singolo/assets/bg-pink-body_06.jpg");
}

.slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 281px 42px;
}

.slider__left {
    background: url("../singolo/assets/main-part_09.jpg");
    width: 16px;
    height: 27px;
}

.slider__right {
    background: url("../singolo/assets/main-part_12.jpg");
    width: 16px;
    height: 27px;
}
/*
.iphone {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iphone__vertical {
    background: url("../singolo/assets/iphone_03.jpg");
    width: 459px;
    height: 215px;
}

.iphone__horizontal {
    background: url("../singolo/assets/iphone_08.jpg");
    width: 217px;
    height: 458px;
}
*/